<div class="container my-3">
    <div class="d-flex justify-content-center">
        <form [formGroup]="signUpForm">
            <div>
                <label>
                    <div>Name</div>
                    <input class="form-control my-2" type="text" formControlName="name" required>
                </label>
            </div>
            <div>
                <label>
                    <div>Enter Email</div>
                    <input class="form-control my-2" type="email" formControlName="email" required>
                </label>
            </div>
            <div>
                <label>
                    <div>Enter Password</div>
                    <input class="form-control my-2" type="password" formControlName="password" required>
                </label>
            </div>
            <div>
                <span *ngIf="checkEmail" class="text-danger">Email id already exist</span>
            </div>
            <div class="my-2">
                <button class="btn btn-primary" style="margin-right: 10px;" (click)="signUp()" [disabled]="signUpForm.invalid">Sign Up</button>
                <button class="btn btn-secondary" style="margin-right: 10px;" type="reset">Reset</button>
            </div>
            <div>
                <span *ngIf="showMsg" class="text-success">User created successfully</span>
            </div>
        </form>
    </div>
</div>