<div class="container my-3">
    <div class="d-flex justify-content-center">
        <form [formGroup]="posterForm">
            <div>
                <label>
                    <div>Title</div>
                    <input class="form-control my-2" type="text" formControlName="title" required>
                </label>
            </div>
            <div>
                <label>
                    <div>Sub Title</div>
                    <input class="form-control my-2" type="text" formControlName="subTitle" required>
                </label>
            </div>
            <div>
                <label>
                    <div>Tag</div>
                    <input class="form-control my-2" type="text" formControlName="tag" required>
                </label>
            </div>
            <div>
                <label>
                    <div>Content</div>
                    <textarea class="form-control my-2" type="text" rows="4" cols="22" formControlName="content" required></textarea>
                </label>
            </div>
            <div class="my-2">
                <button class="btn btn-secondary" style="margin-right: 10px;" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary" style="margin-right: 10px;" (click)="Submit()" [disabled]="posterForm.invalid">{{isUpdate ? 'Update' : 'Submit'}}</button>
            </div>
        </form>
    </div>
</div>